<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Add New User</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add-users-form" method="POST" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Title</label>
                            <input type="text" name="title"  class="form-control form-control-lg" placeholder="Enter Title" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input class="form-control form-control-lg" type="file" name="image" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="name">Description</label>
                            <input type="text" name="description"  class="form-control form-control-lg" placeholder="Enter Description" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="name">DatePublished</label>
                            <input type="date" name="datepublished"  class="form-control form-control-lg" placeholder="Enter datePublished" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="name">PageCount</label>
                            <input type="text" name="pagecount"  class="form-control form-control-lg" placeholder="Enter pageCount" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="name">Genre</label>
                            <input type="text" name="genre"  class="form-control form-control-lg" placeholder="Enter Genre" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="name">bookId</label>
                            <input type="text" name="bookid"  class="form-control form-control-lg" placeholder="Enter bookId" required /> 
                        </div>
                        <div class="mb-3">
                            <label for="name">Publisher</label>
                            <input type="text" name="publisher"  class="form-control form-control-lg" placeholder="Enter Publisher" required /> 
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Add User" class="btn btn-primary btn-lg" /> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>



