@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

 body{
    font-family: 'Open Sans', sans-serif; 
    background-image: url('/assets/background3.jpg'); 
    background-repeat: no-reeat;
    background-size: contain; /* cover */
    height: 100vh;
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: 0.3em 4em;
}

form{
    padding: 0 1em;
}

#login .title>span{
    font-size: .8em;
}